body {
  font-family: Arial, sans-serif;
  background-image: url(fondo5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

div#menu {

   margin:auto;
   margin-top: 50px;
   width: 730px;
   height: 50px;
}
ul {
  list-style-type: none;
  margin: 10px;;
  padding: 50;
  overflow: hidden;
}
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

h1 {
    text-align: center  ;
    color: white;
}
.formulario{
  margin:auto;
  margin-top: 20px;
  width: 200px;
  height: 270px;
}
.registro{
  margin:auto;
  margin-top: 60px;
  width: 280px;
  height: 300px;
}
H2{
  text-align: center  ;
  color:white;
}
tr{
  color: white;
}

pre{
  text-align: left;
  color: white;
}
.imagen{
  display: flex;
  justify-content: center;
}
.logospartners{
  float: left;
}
table, th,td {
 margin: auto;
 border: 1px solid rgb(88, 6, 6);
 border-radius: 5px;
 background-color: rgb(34, 3, 3);
}
.girologo{
 float: left;
 border: 14px solid rgb(88, 6, 6);
 border-radius: 50%;
 border-top: 0px solid black;
 width: 120px;
 height: 120px;
 animation: rotate 5s linear infinite;
      }
 @keyframes rotate{
 0% { transform: rotate(0deg);}
 100% { transform: rotate(360deg);}
}

.bn{
   text-align: center;
   color: white;
   margin:auto;
   margin-top: 50px;
   width: 730px;
   height: 550px;
 
}
.exito{
  margin: auto;
}
label{
  color: white;
}
a{
  color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}